{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block links %}
    
    {% endblock %}
</head>
<body>

    <header>

        <div class="wrap-logo">
            <a href="#" class="logo">Логотип сайта</a>
        </div>

        <nav>
            <a class="active" href="#home">Главная</a>
            <a href="#">Контакты</a>
            <a href="#">О нас</a>
        </nav>

    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>


    <footer>

    </footer>

    {% block js %}

    {% endblock %}
    
</body>
</html>